
@{
    ViewBag.Title = "拓展功能";
    ViewBag.MenuIndex = 5;
}

<div class="wrapper wrapper-content">
    <div class="box-set">
        <div class="row">
            <div class="col-lg-12 ibox">
                <div class="left-title">拓展功能</div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="list-fun">
                    <div class="pic"><a href="@Url.Action("BindWx")"><img src="/Res/shop/img/pic120x120.jpg" alt=""></a></div>
                    <p>绑定微信，把商户系统和微信打通</p>
                    <span>绑定后即可在微信接收交易和物流相关的提醒消息</span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="list-fun">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1>订单催收</h1>
                    <em>即将上线</em>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="list-fun">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1>签收提醒</h1>
                    <em>即将上线</em>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="more-fun">
                    <img src="/Res/shop/img/pic395x395.jpg" alt="">
                </div>
            </div>

        </div>

    </div>


</div>

