################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/Steven.Core/bin/Debug
/Steven.Core/obj/Debug
/Steven.Domain/bin/Debug
/Steven.Domain/obj/Debug
/Steven.Domain.Repositories/bin/Debug
/Steven.Domain.Repositories/obj/Debug
/Steven.Domain.Services/bin/Debug
/Steven.Domain.Services/obj/Debug
/Steven.Global/bin/Debug
/Steven.Global/obj/Debug
/Steven.Service.Switch/bin/Debug
/Steven.Service.Switch/obj/Debug
/Steven.Service.Tasks/bin/Debug
/Steven.Service.Tasks/obj/Debug
/Steven.Service.WinServer/bin/Debug
/Steven.Service.WinServer/obj/Debug
/Steven.UnitTest/bin/Debug
/Steven.UnitTest/obj/Debug
/Steven.Web/bin
/Steven.Web/obj/Debug
/Steven.Web.Framework/bin/Debug
/Steven.Web.Framework/obj/Debug
/Steven.WinTools/bin/Debug
/Steven.WinTools/obj/Debug
/BeiLinSoft.sln.DotSettings.user
