
@{
    var configRep = DependencyResolver.Current.GetService<ISysConfigRepository>();
    ShopUser user = ViewBag.CurrUser;
}
<div class="call clearfix">
    <div class="pic"><img src="@Url.ThumbUrl(user.UserModel.LogoAttaId, 60, 60, "/Res/shop/img/logo.jpg")" alt=""><span class="online"></span></div>
    <div class="tel"><span>联系电话：</span><h1>@configRep.CompanyTel</h1></div>

    <div class="text">
        <h3>有问题请找我</h3>
        <p>您的服务经理：小北琳</p>
    </div>

</div>
