<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.1" targetFramework="net452" />
  <package id="CacheManager.StackExchange.Redis" version="1.1.1" targetFramework="net452" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.1" targetFramework="net452" />
  <package id="ImageProcessor" version="2.5.4" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" requireReinstallation="true" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net452" requireReinstallation="true" />
</packages>