@charset "utf-8";
 /* 
                       (0 0)
   +-------------oOO----(_)----------------+
   |   @name 	:  CSS beilin              |
   |   @author	:  sxx                     |
   |   @date	:  2017.7.13               |
   +--------------------------oOO----------+
                      |__|__|
                       || ||
                      ooO Ooo
*/


/*
=============================================
*   @name: 头部
*   @page: index
=============================================
*/


/* 快捷方式 */
.shortcut{ width:60px; position:fixed; right:10px; bottom:50px; z-index:70;}
.shortcut .back{ margin:6px 6px 0 0;width:56px; height:56px; line-height:56px; text-align:center; position:absolute; bottom:0; font-weight:500; border-radius:28px; background-color:#f1f1f1; border:1px solid #dedede; }
.shortcut .back a {display:block;color:#333;font-size:14px; text-decoration: none; line-height:56px;}
.shortcut .back .active a { color: #fff; background-color: #333;}

.header{ width:100%; padding:40px; box-sizing:border-box;}
.header .logo{ float:left}
.header .logo img{ height:50px;}
.header .nav{ float:right;}
.header .nav a{ display:inline-block; padding:0 20px; font-size:18px;}
.header .nav a:hover{ color:#009eff;}
.header .nav a.login{ padding:6px 25px; margin-left:20px; border:1px solid #009eff; border-radius:25px; color:#009eff;}
.tel-nav{ display:none;}


/*banner*/
.swiper-banner{ position:relative;}
.wrap-info{width:100%; box-sizing:border-box; position:relative; padding-top:160px;}
.wrap-info .text{ width:100%; position:absolute; left:50%; top:10px; transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0); text-align:center;box-sizing:border-box;  transition: opacity 0.8s, transform 0.8s; -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;}
.wrap-info .text h1{ font-size:80px; font-weight:600;}
.wrap-info .text p{ font-size:20px; color:#009eff;}
.wrap-info .text p a{ color:#009eff;}

.case-pages{ position:absolute; bottom:-20px; left:0; width:100%; text-align:center; z-index:300;}
.case-pages span{ margin:0 3px;}




/*服务*/
.wrap-2{ width:100%; padding:80px 0; background:#170f4d; box-sizing:border-box;}
.wrap-2 .title-a{ padding:50px 0; text-align:center; letter-spacing:26px; font-size:56px; font-weight:bold; color:#fff; background:url(../images/title-1.png) no-repeat center;text-indent:26px;}
.wrap-2 .tel-info{color:#fff; padding:100px; box-sizing:border-box;}
.wrap-2 .tel-info .pic{ padding-bottom:50px; text-align:center;}
.wrap-2 .tel-info .text{ text-align:center;}
.wrap-2 .tel-info .text h1{ font-size:30px; font-weight:bold; padding-bottom:30px;}
.wrap-2 .tel-info .text p{ line-height:26px;}

.case-page{ text-align:center;display:none;}
.case-page span{ margin:0 3px;}





@media all and (min-width:640px) and (max-width:1200px){
.wrap-2 .tel-info{ padding:100px 20px; }	
	
	}

@media all and (min-width:640px) and (max-width:1024px){
.wrap-1 .text{ width:100%; position:absolute; left:50%; top:90px; transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0); text-align:center;box-sizing:border-box;}
.wrap-1 .text h1{ font-size:48px;}
.wrap-1 .text a{ margin:20px;}	
	}

@media all and (min-width:0) and (max-width:640px){
.header{padding:40px 0; box-sizing:border-box;}	
.header .logo{ display:none;}
.header .nav{ display:none;}
.tel-nav{ display:block;}
.tel-nav .fun{ float:left; padding-left:30px; width:80px; height:50px; cursor:pointer;}
.tel-nav .tel-logo{ position:absolute; left:50%; top:20px; margin-left:-20px; z-index:500;}
.tel-nav .list{ display:none;}
.tel-nav .list .close{ position:absolute; left:28px; top:28px; width:40px; height:40px; background:#fff; }
.tel-nav .list .navs{ padding-top:60px; text-align:center;}
.tel-nav .list .navs a{display:block; font-size:18px; padding:10px 0;}
.tel-nav .list .navs a:hover{ color:#009eff;}
.tel-nav .list .navs a:active{ color:#009eff;}
.tel-nav .list .navs .login{padding:6px 25px; width:100px;  margin:0 auto;margin-top:40px; border:1px solid #009eff; border-radius:25px; color:#009eff;}
	
.wrap-info{ padding-top:150px;}
.wrap-info .text{top:50px;}
.wrap-info .text h1{ font-size:36px;}
.wrap-info .text p{ font-size:16px;}

.wrap-2 .title-a{ font-size:36px; background-size:50%;}
.wrap-2 .tel-info{ width:100%;color:#fff; padding:10px; box-sizing:border-box;}
.wrap-2 .tel-info .pic{ padding-bottom:20px;}
.wrap-2 .tel-info .text{ text-align:center;}
.wrap-2 .tel-info .text h1{ font-size:30px; font-weight:bold; padding-bottom:20px;}
.wrap-2 .tel-info .text p{ line-height:26px;}

.case-page{ display:block;}
.pagination-c.case-pages{bottom:-40px;}

	}



/*故事*/
.wrap-3{ width:100%; padding:80px 0; box-sizing:border-box; position:relative;}
.wrap-3 .title-a{ width:100%; padding:50px 0; text-align:center; letter-spacing:26px; font-size:56px; font-weight:bold;  background:url(../images/title-2.png) no-repeat center; box-sizing:border-box;text-indent:26px;}
.wrap-3 .list{ width:100%;padding:100px 0; box-sizing:border-box; position:relative;}

.wrap-3 .list .list-story{ width: 100%; overflow-x: scroll}

.wrap-3 .list ul{ display: block; width: 300%; height:500px; text-align:center; box-sizing:border-box; position:relative; }
.wrap-3 .list ul li{ position:relative; width:360px;display:  block;  float: left; padding:0; margin:0;}
.wrap-3 .list ul li img{ width:100%;}
.wrap-3 .list ul li span{ position:absolute; left:20px; bottom:20px; display:block; text-transform:capitalize; padding:10px 20px; background:rgba(0,0,0,.5); color:#fff;}

 /* for Chrome */
.wrap-3 .list .list-story::-webkit-scrollbar {display: none;}


.wrap-3 .list .list-story::scrollbar {display: none;}
.wrap-3 .list .list-story::-moz-scrollbar {display: none;}



.wrap-3 .list .info span{ position:absolute; left:20px; bottom:20px; display:block; text-transform:capitalize; padding:10px 20px; background:rgba(0,0,0,.5); color:#fff;}
.sliding-story{position: relative;z-index: 1; overflow: hidden; }





.wrap-3 .text-a{width:900px;text-align:center; position:absolute; left:50%;  margin-left:-450px; bottom:50px;}
.wrap-3 .text-a a{ color: #009eff;}


/*合作*/
.wrap-4{ width:100%; padding:80px 0; box-sizing:border-box;}
.wrap-4 .title-a{ padding:80px 0; text-align:center; letter-spacing:26px; font-size:56px; font-weight:bold;  background:url(../images/title-3.png) no-repeat center;text-indent:26px;}
.wrap-4 .list{ width:100%; overflow:hidden;}
.wrap-4 .list .info{width:100%; padding:20px 0; text-align:center; box-sizing:border-box;}
.wrap-4 .list .info img{ -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);}
.wrap-4 .list .info img:hover{ -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);}
	
.wrap-4 .tel-list{ display:none;}

.sliding-zc{margin: 0 auto;position: relative;overflow: hidden;z-index: 1; padding:30px 10px 0 10px; text-align:center;}
.sliding-zc .swiper-wrapper{ margin:0 auto;}

/*联系我们*/
.wrap-5{ width:100%; padding:80px 0; background:#1e1366; box-sizing:border-box;}
.wrap-5 .title-a{ padding:80px 0; text-align:center; letter-spacing:26px; font-size:56px; font-weight:bold; color:#fff; background:url(../images/title-4.png) no-repeat center;text-indent:26px;}
.wrap-5 .list{ max-width:1400px; margin:0 auto; padding-top:30px; text-align:center;}
.wrap-5 .list a{ display:inline-block;width:265px; padding:10px 0; text-align:center; margin:40px 20px; border-radius:25px; font-size:20px; color:#fff;}
.wrap-5 .list a:active{box-shadow: inset 0 3px 10px rgba(0, 0, 0, .2);}
.wrap-5 .list a.tel{background: #2dd956; /* Old browsers */
background: -moz-linear-gradient(-45deg, #2dd956 0%, #03e68d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #2dd956 0%,#03e68d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #2dd956 0%,#03e68d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dd956', endColorstr='#03e68d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.wrap-5 .list a.qq{
background: #0a90f3; /* Old browsers */
background: -moz-linear-gradient(-45deg, #0a90f3 0%, #755de5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0a90f3 0%,#755de5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0a90f3 0%,#755de5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a90f3', endColorstr='#755de5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
position:relative;}
.wrap-5 .list a.wechat{ position:relative;
background: #96e501; /* Old browsers */
background: -moz-linear-gradient(-45deg, #96e501 0%, #05b725 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #96e501 0%,#05b725 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #96e501 0%,#05b725 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96e501', endColorstr='#05b725',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.wrap-5 .list a.email{ position:relative;
background: #02acfe; /* Old browsers */
background: -moz-linear-gradient(-45deg, #02acfe 0%, #3d5be6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #02acfe 0%,#3d5be6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #02acfe 0%,#3d5be6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02acfe', endColorstr='#3d5be6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.wrap-5 .list a img{ padding-right:20px;}
.wrap-5 .list a .ewm{ position:absolute; left:45px; bottom:50px; width:180px; height:205px; text-align:center; background:#fff; display:none;}
.wrap-5 .list a .ewm img{ padding:10px 10px 0 10px;}
.wrap-5 .list a .ewm span{ display:block; font-size:16px; line-height:25px;color:#333;}

.wrap-5 .list a.tel-email{display:none;}


.qq-chat{ position:absolute; top:2px; width:100%; z-index:100; opacity:0;} 



/*版权*/
.footer{ width:100%; padding:50px 10px; box-sizing:border-box; text-align:center;}
.footer .f-logo{ padding-bottom:50px;}
.footer p{ line-height:30px; }

@media all and (min-width:640px) and (max-width:1200px){
.wrap-3 .list ul li{ width:33.333%; }
.wrap-3 .text-a{width:500px;left:50%;  margin-left:-250px; bottom:30px;}	
	
	}


@media all and (min-width:0) and (max-width:640px){
.wrap-3{ padding:50px 0;}
.wrap-3 .title-a{font-size:36px; background-size:40%;}
.wrap-3 .text{ padding:0 10px; box-sizing:border-box;}
.wrap-3 .list{ padding:50px 0 180px 0;}
.wrap-3 .list ul{ height:300px;}
.wrap-3 .list ul li{ width:50%; }

.wrap-3 .text-a{width:300px;margin-left:-150px; bottom:10px;}


/*鼠标放上去效果*/
.wrap-3 .list .detail{ width:300px;left:50%; top:-45px; margin-left:-150px; z-index:300;}
.wrap-3 .list .detail .text{ padding:20px 10px 10px 10px;}
.wrap-3 .list .detail .text .bg{ width:20px;left:10px; top:-20px;}
.wrap-3 .list .detail .text p{ font-size:14px; height:45px;}
.wrap-3 .list .detail .text i{font-size:20px;}

.sliding-story{padding:50px 0 40px 0;}



/*合作*/
.wrap-4{padding:50px 0;}
.wrap-4 .title-a{ padding:50px 0; font-size:36px; background-size:30%;}
.wrap-4 .list ul{width:100%; padding:20px; box-sizing:border-box; display:none;}
.wrap-4 .list ul li{width:50%; padding:20px 0; box-sizing:border-box;}
.wrap-4 .tel-list{ display:block;}
.wrap-4 .tel-info{ text-align:center;}
.wrap-5 .title-a{font-size:36px; background-size:40%; text-indent:26px;}
.wrap-5 .list{padding-top:0; text-align:center; position:relative;}
.wrap-5 .list a{ display:inline-block; width:50px; height:50px; padding:0; margin:20px 10px; border-radius:100%;}
.wrap-5 .list a label{ display:none;}
.wrap-5 .list a img{ padding-top:10px; padding-right:0;}
.wrap-5 .list a.wechat{ position:static;}
.wrap-5 .list a .ewm{  left:50%; bottom:80px; margin-left:-90px;}
.wrap-5 .list a.email{display:none;}
.wrap-5 .list a.tel-email{display:inline-block;
position:relative;
background: #02acfe; /* Old browsers */
background: -moz-linear-gradient(-45deg, #02acfe 0%, #3d5be6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #02acfe 0%,#3d5be6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #02acfe 0%,#3d5be6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02acfe', endColorstr='#3d5be6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.wrap-5 .list a.tel-email .email-1{ position:absolute; left:-215px; bottom:50px; width:265px; height:50px; line-height:50px; text-align:center; background:#fff; color:#222; border-radius:25px; display:none;}


/*版权*/
.footer{ font-size:14px;}
.footer p span{ display: block;}

	}





/*
=============================================
*   @name: 案例
*   @page: case
=============================================
*/

.header-case{ position:relative;}
.logo-case{ position: absolute; width:140px; left:20px; top:20px;}

.case-1{ width:100%; padding:180px 0 280px 0; background:url(../images/bg-anli.jpg) no-repeat;}
.case-1 .text{ text-align:center; color:#fff;}
.case-1 .text h1{ font-size:90px; font-weight:bold;}
.case-1 .text p{ font-size:24px; padding-top:20px;}

/*案例列表*/
.case-2{ max-width:1200px; margin:0 auto; background:#fff; margin-top:-200px; padding-bottom:50px;}
.case-2 ul{ padding:20px; box-sizing:border-box;}
.case-2 ul li{ width:50%; float:left; padding:20px; box-sizing:border-box;}
.case-2 ul li .info{ width:100%;}
.case-2 ul li .info .text h1{ font-size:30px; padding:10px 0;}
.case-2 ul li .info .text p{ color:#999; padding-bottom:40px;}
.case-2 ul li .info .look{ border:1px solid #dedede; height:80px; line-height:80px;}
.case-2 ul li .info .look a{ display:inline-block; float:left; width:50%; text-align:center;}
.case-2 ul li .info .look a.tel{ background:#f1f1f1; position:relative;}
.case-2 ul li .info .look a img{ padding:25px 10px 0 0;}
.case-2 ul li .info .look a .ewm{ position:absolute; left:50%; bottom:90px; margin-left:-90px; width:180px; height:205px; text-align:center; background:#fff;box-shadow: 0 0 10px #dedede; display:none;}
.case-2 ul li .info .look a .ewm img{ width:158px; height:158px; overflow:hidden; padding:10px 0 0 0;}
.case-2 ul li .info .look a .ewm span{ display:block; font-size:16px; line-height:25px;color:#333;}


/*案例列表*/
.case-3{ display:none;}



@media all and (min-width:640px) and (max-width:860px){
.case-1 .text p{ font-size:20px; padding:0 40px;}	
	
}

@media all and (min-width:0) and (max-width:640px){
.tel-logo{ width:140px; left:20px;}
.case-1{padding:100px 0 100px 0; background:#5938e4 url(../images/bg-anli.jpg) no-repeat center; background-size:150%;}
.case-1 .text h1{ font-size:48px;}
.case-1 .text p{ font-size:16px; padding:0 40px;}
.case-2{ display:none;}
.case-3{ display:block;}
.case-3 ul{ padding:0;}
.case-3 ul li{ width:100%; float:none; padding:20px 0; box-sizing:border-box;}
.case-3 ul li .info .pic img{ width:100%;}
.case-3 ul li .info .text{ padding:0 10px;}
.case-3 ul li .info .text h1{ font-size:24px; padding:15px 0;}
}





body,html{overflow-x: hidden}
.other-gs{width: 100%; position: relative;}
.other-gs .swiper-slide{width:360px;}
.other-gs .item{ width: 100%; position: relative; cursor: pointer}
.other-gs .item span{ display:block; padding:5px 15px; background:rgba(0,0,0,.5); font-size:24px; color:#fff; position:absolute; left:20px; bottom:20px;}
.other-gs .item:active{opacity: .8}
.other-gs .item img{ -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);}
.other-gs .item img:hover{ -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);}


/*鼠标放上去效果*/
.detail-box{ position:absolute; left: 0; width:460px; left: 50%; top: 50%; transform: translate(-50%,-50%);-webkit-transform:translate(-50%,-50%) ;
-moz-transform:translate(-50%,-50%) ;
-ms-transform:translate(-50%,-50%) ;
-o-transform:translate(-50%,-50%) ;
transform:translate(-50%,-50%) ;  z-index:300; display: none; box-shadow: 5px 10px 20px #B5B5B5}
.detail-box .pic img{ width:100%;}
.detail-box .text{ position:relative;padding:50px 40px 20px 40px;color:#fff; background:#0088ff; box-sizing:border-box;}
.detail-box .text .bg{ position:absolute; left:40px; top:-50px; z-index:301;}
.detail-box .text p{ height:50px; overflow:hidden; }
.detail-box .text .tip{text-align:right;}
.detail-box .text .tip i{ display:inline-block;font-style:normal; font-size:30px; text-transform:capitalize;}
.detail-box .text .tip em{ display:inline-block;font-style:normal; font-size:20px; padding-left:5px; }

.detail-box .close{ position:absolute; top:20px; right:20px;}



@media all and (min-width:0) and (max-width:640px){
.other-gs .swiper-slide{width:145px;}	
.other-gs .item span{padding:5px 10px;font-size:16px; left:10px; bottom:10px;}
.detail-box{width:300px;}
.detail-box .text{ padding:20px 10px 10px 10px;}	
.detail-box .text .bg{ width:20px;left:10px; top:-20px;}
.detail-box .text i{font-size:20px; }
.detail-box .text i em{ font-size:14px; }	
	}






